[user]
    email = lobabob@users.noreply.github.com
    name = Farhankhan Daya
    username = lobabob

[push]
    default = matching

[color]
    status = auto
    ui = auto

[color "status"]
    added = green
    changed = cyan
    untracked = yellow dim
    deleted = red

